<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <title>Prompt</title>
</head>
<body>
    <button id="click">click me</button>
    <dialog class="container">
        <div class="prompt">
            <p class="message">
                This is a message
            </p>
            <section class="container-button_option">
                <button class="confirm">Yes</button>
                <button class="cancel">No</button>
            </section>
        </div>
    </dialog>
</body>
</html>