<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <title>Player Card</title>
</head>

<body>
    <div class="card-player">
        <div class="container-profile">
            <img src="/src/paintbluered.png" class="img-player" alt="" id="img-player1">
        </div>
        <div class="container-status">
            <div class="victory_count">1</div>
            <div class="marker">X</div>
            <div class="defeat_count">0</div>
            <div class="wrapper-message">
                <div class="container-message">
                    <p class="message">'Message'</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>