.slide-in_left {
    animation: slide_in_left 1.5s ease-in;
}

@keyframes slide_in_left {
    0%, 50% {
        opacity: 0;
        transform: translateX(-130px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-in_right {
    animation: slide_in_right 0.7s ease-in forwards;
    animation-delay: var(--_delay);
}

@keyframes slide_in_right {
    0% {
        opacity: 0;
        transform: translateX(130px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-in_up {
    animation: slide_in_up 1.2s ease-in-out 1.7s;
}

@keyframes slide_in_up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.zoom-in-pop {
    animation: zoom_in-pop 1s linear forwards;
    animation-delay: var(--_delay-start);
}

@keyframes zoom_in-pop {
    0% {
        transform: scale(1);
    }
    0%, 72% {
        opacity: 1;
    }
    15% {
        transform: scale(1.11);
    }
    30% {
        transform: scale(1.17);
    }
    73% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    73%, 100% {
        transform: scale(0);
    }
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}