.container-ttt {
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
    justify-content: center;
}

.round {
    background-color: #000;
    border-radius: 13px;
    color: #FFFAF1;
    cursor: default;
    text-align: center;
    padding: 3px 17px;
}

.container-part {
    display: flex;
    gap: 13px
}

.container-left {
    --_gap: 5px;
    --_border-radius: 13px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.container-left>.container-board {
    border-radius: var(--_border-radius);
    width: 275px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--_gap);
}

.container-left>.container-board>.tile {
    background-color: #FFFAF1;
    border: none;
    border-radius: var(--_border-radius);
    aspect-ratio: 1;
    cursor: pointer;
    font-size: 2.4rem;
    width: calc(calc(100% / 3) - var(--_gap));
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.container-left>.container-back_reset {
    display: flex;
    gap: var(--_gap);
    justify-content: space-between;
}

.container-left>.container-back_reset>button {
    background-color: #FFFAF1;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: var(--_border-radius);
    cursor: pointer;
    height: 50px;
    transition: 0.2s;
}

.container-left button {
    box-shadow: 0 0 15px -5px #000;
}

.container-left .tile.hover {
    background-color: #fddbff;
    transform: scale(1.03);
}

.container-left .container-back_reset button:hover {
    background-color: #fddbff;
    transform: scale(1.03);
}

.container-left .container-back_reset button:active {
    background-color: #cb93ce;
    box-shadow: none;
    transform: scale(0.92);
}

.container-left .tile.active {
    background-color: #cb93ce;
    box-shadow: none;
    color: #FFFAF1;
    transform: scale(0.92);
}

.container-left>.container-back_reset>.back {
    width: calc(calc(100% / 3) - var(--_gap));
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-left>.container-back_reset>.reset {
    width: calc(calc(100% / 3 * 2) - var(--_gap) / 2);
}

.container-game_screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.container-right>.container-player_status_card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 13px;
}

.container-player_status_card>.card-player {
    --_border: 2px solid #FFFAF1;
    --_border-active: 2px solid #04ff00;
    border-radius: 13px;
    box-shadow: 0 0 15px -5px #000;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.container-player_status_card>.card-player>.container-profile {
    border: var(--_border);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container-player_status_card>.card-player>.container-profile>.img-player {
    object-fit: cover;
    width: 145px;
    height: 110px;
}

.container-player_status_card>.card-player>.container-profile>.player {
    background-image: linear-gradient(to bottom, #000, transparent);
    color: #FFFAF1;
    cursor: default;
    font-size: 0.9rem;
    padding: 3px 7px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.container-player_status_card>.card-player>.container-status {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container-player_status_card>.card-player>.container-status>div:not(.wrapper-message) {
    color: #FFFAF1;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: calc(100% / 3);
    z-index: 1;
}

.container-status>* {
    cursor: pointer;
}

.victory_count {
    background-color: #64e061;
    border-left: var(--_border);
    border-bottom: var(--_border);
    border-bottom-left-radius: 13px;
}

.marker {
    background-color: #1c1e21;
    border-bottom: var(--_border);
    flex-grow: 1;
}

.defeat_count {
    background-color: #e06161;
    border-bottom: var(--_border);
    border-right: var(--_border);
    border-bottom-right-radius: 13px;
}

.container-player_status_card>.card-player .wrapper-message {
    --_triangle_width: 11px;
    background-color: #1c1e21;
    border-radius: 5px;
    transform: translateX(-50%);
    padding: 4px 9px;
    display: none;
    opacity: 0;
    position: absolute;
    bottom: calc(100% + var(--_triangle_width));
    transition: 0.3s, display 0.3s;
    transition-behavior: allow-discrete;
}

.container-player_status_card>.card-player>.container-status:has(div:not(:last-of-type):hover) .wrapper-message {
    display: block;
    opacity: 1;
    
    @starting-style {
        opacity: 0;
    }
}

.container-player_status_card>.card-player .container-message {
    position: relative;
}

.container-player_status_card>.card-player .container-message::after {
    content: '';
    border-top: var(--_triangle_width) solid #1c1e21;
    border-left: var(--_triangle_width) solid transparent;
    border-bottom: var(--_triangle_width) solid transparent;
    border-right: var(--_triangle_width) solid transparent;
    transform: translateX(-50%);
    position: absolute;
    top: 100%;
    left: 50%
}

.container-player_status_card>.card-player .container-message>.message {
    color: #FFFAF1
}

.container-player_status_card>.card-player.active {
    box-shadow: 0 0 15px -5px #0fdf0b;
    transform: scale(1.05);
}

.container-player_status_card>.card-player>.container-profile.active {
    border: var(--_border-active);
}

.victory_count.active {
    border-left: var(--_border-active);
    border-bottom: var(--_border-active);
}

.marker.active {
    border-bottom: var(--_border-active);
}

.defeat_count.active {
    border-bottom: var(--_border-active);
    border-right: var(--_border-active);
}