.w-100 {
    width: 100% !important;
}

.d-none {
    display: none !important;
}

.opacity-0 {
    opacity: 0;
}

.opacity-half {
    opacity: 0.5;
}

.opacity-1 {
    opacity: 1;
}

.initial-box {
    border-radius: 0 !important;
    box-shadow: none !important;
}

.scale-pop {
    background-color: #FFFAF1 !important;
    box-shadow: 0 0 15px -3px #000;
    color: #000 !important;
    transform: scale(1.15) translateY(160%);
}

.z-1 {
    z-index: 1;
}

.border-top-left-radius {
    border-radius: 13px 0 0 0 !important;
}
.border-top-right-radius {
    border-radius: 0 13px 0 0 !important;
}
.border-bottom-left-radius {
    border-radius: 0 0 0 13px !important;

}
.border-bottom-right-radius {
    border-radius: 0 0 13px 0 !important;

}